<!DOCTYPE html>
<html lang="en">
<head> 
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="bodytext">
        <h1>Here is some examples of projects I have worked on.</h1>
        <h2>Discord bot written in python</h2>
        <h3>This bot was made for a community of Cryptocurrency enthusiasts, and checks the current gas GWEI for either Matic, or ETH using the etherscan or maticscan API respectively, and also gets trade data, using binance's API to do Technical analysis</h3>
      <img src="/images/project1-1.png" alt="Example of discord bot working" class="project1">
      <img src="/images/project1-2.png" alt="Example of discord bot working" class="project1">
      <img src="/images/project1-3.png" alt="Example of discord bot working" class="project1">
    
      <h2>Questionaire application written in Java</h2>
      <h3>A Questionaire that sums up and gives you a % of questions you got correct</h3>
      <img src="/images/project2-1.png" alt="Example of A question asked" class="project2">
      <img src="/images/project2-2.png" alt="Example of what the program displays at the end" class="project2">
    
      <h2>Simple Breadth First Search in Python</h2>
      <h3>This goes through the following dataset, and finds the path between "dolly" to "dylan" then "george" to "bob"</h3>
      <img src="/images/project3-3.png" alt="The dataset" class="project3">
      <img src="/images/project3-1.png" alt="First search" class="project3">
      <img src="/images/project3-2.png" alt="Second search" class="project3">
    </div>
</body>