<!DOCTYPE html>
<html lang="en">
<head> 
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="bodytext">
        <h1>Currently Offered services:</h1>
        <div class="service-container">
          <div class="service1">
            <h3>Phone App Development (IOS)</h3>
            <img src="/images/ios.jpeg" alt="IOS icon">
          </div>
          <div class="service2">
            <h3>Web Application Development</h3>
            <img src="/images/webappdev.jpeg" alt="webapp image">
          </div>
        </div>
        <div class="service-container">
          <div class="service1">
            <h3>Discord Bot Scripts in Python</h3>
            <img src="/images/discord.png" alt="Discord Icon">
          </div>
          <div class="service2">
            <h3>Basic General Programming</h3>
            <img src="/images/programming.jpeg" alt="programming image">
          </div>
        </div>
      </div>
</body>