<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <%- include('partials/nav') %>
    </nav>
  </header>

  <div class="bodytext" id="about-me">
    <h1>Dylan McMullen</h1>
    <img src="/images/selfphoto.png" alt="Photo of Dylan" class="selfphoto">
    <h3>Hi, I'm Dylan McMullen, I'm currently a full time student at Centennial College studying Software Engineering Technologies (AI). I'm currently 
        28 years old, and was in much need of a change of pace, that is why I decided to go back to school.
    </h3>
    <a href="/pdfs/resume.pdf" target="_blank">Click here to view a PDF of my resume.</a>
  </div>
</body>
</html>
