<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Me</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <%- include('partials/nav') %>
    </nav>
  </header>

  <div class="bodytext">
    <h1>Contact Me</h1>

    <div class="contact-info">
    <p>If you have any questions or inquiries, please feel free to get in touch with me:</p>
      <p><strong>Email:</strong> Dylan.Mcmullen@live.com</p>
    </div>
    <%- include('partials/contactform') %>
  </div>
</body>
</html>
