
  /* Style for the logo */
  .corner-logo {
    width: 75px;
    height: 75px;
    margin-left: 10px;
  }

  .selfphoto {
    width: 200px;
    height: 220px;
    float: right;
    margin-left: 20px;
  }

  .project1 {
    width: 500px;
    height: 400px;
  }

  .project2 {
    width: 400px;
    height: 200px;
  }

  /* Style for the service containers */
  .service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  /* Style for service1 and service2 elements within each container */
  .service1,
  .service2 {
    flex: 1;
    margin-right: 20px;
  }

  /* Reset some default margins and paddings */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
  }

  /* Style for the header */
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 200px;
    height: 100%;
    position: fixed;
  }

  /* Style for the navigation bar */
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
  }

  /* Style for the navigation links */
  nav a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
  }

  /* Style for the main content */
  .bodytext {
    padding: 20px;
    flex-grow: 1;
    margin-left: 200px;
    height: 100%;
    overflow: auto;
  }

  /* Style for the h1 */
  h1 {
    font-size: 24px;
  }

  /* Style for the h3 */
  h3 {
    font-size: 18px;
  }

  /* Style for the contact information panel */
  .contact-info {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .contact-info p {
    margin: 0;
  }

  /* Style for the contact form */
  .contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }

  /* Style for form input labels */
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }

  /* Style for form input fields */
  .contact-form input[type="text"],
  .contact-form input[type="tel"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .contact-form textarea {
    height: 100px;
  }

  /* Style for the submit button */
  .contact-form button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .contact-form button[type="submit"]:hover {
    background-color: #555;
  }
